
<div class="tr-banner section-before bg-image" style="background-image: url(https://res.cloudinary.com/remytaglang/image/upload/v1509299741/decouvrir-la-region-de-paris-hd_yumdog.jpg);
 display:flex; height: 100vh;">
    <div class="container">
      <div class="banner-content text-center">
        <h1>Le vrai Paris des Paumés</h1>
        <h2>Trouve le resto de ta vie. Pour de vrai.</h2>
        <div class="banner-form">
          <form action="#">
            <input type="text" class="form-control" placeholder="Bar / Resto">
            <div class="dropdown tr-change-dropdown">
              <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Location</span><i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu tr-change">
                <li><a href="#">Location</a></li>
                <li><a href="#">Location 1</a></li>
                <li><a href="#">Location 2</a></li>
                <li><a href="#">Location 3</a></li>
              </ul>
            </div><!-- /.category-change -->
            <button type="submit" class="btn btn-primary" value="Search">Search</button>
          </form>
        </div><!-- /.banner-form -->
      </div><!--/. banner-content -->
    </div><!-- /.container -->
  </div><!-- /.tr-banner -->
